<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta content="telephone=no,email=no" name="format-detection">
        <script src="lib-flexible/flexible_css.js"></script>
        <script src="lib-flexible/flexible.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <title></title>
    </head>
    <body>
        <div class="title">hello world</div>
    </body>
</html>